{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title market.title %}

{% block page_actions %}
    <div class="global-actions">
        <a class="btn btn-success" href="{{ ea_url().setController('App\\Controller\\Admin\\CustomerCrudController').setAction('new').includeReferrer() }}" data-action-name="new">{{ lang.add|trans }}</a>
    </div>
{% endblock %}

{% block main %}
    <style>
        /*Стили только для смартфонов*/
        @media screen and (max-device-width:480px){

            .list-pagination {
                max-width: 330px;
            }

            .list-pagination nav {
                /*margin-left: -15px;*/
                overflow: scroll;
            }
        }
        /*Стили только для планшетов*/
        @media screen and (min-device-width:481px){
        }
        /*Стили только для десктопов*/
        @media screen and (min-width:769px){
        }
    </style>
    <div class="datagrid-header-tools">
        <div class="datagrid-search">
            <div class="form-action form-action-search">
                <form method="get">
                    {# reset the referrer and page number whenever a new query is performed #}
                    {% set query_parameters = ea.request.query.all|merge({
                        referrer: null, page: 1,
                    }) %}

                    {# browsers remove the query string when submitting forms using GET;
                       that's why all query string parameters are added as hidden form fields #}
                    <div class="form-group">
                        <div class="form-widget">
                            <input class="form-control" type="search" name="search" value="{{ app.request.get('search') ?? '' }}" placeholder="{{ 'action.search'|trans(ea.i18n.translationParameters, 'EasyAdminBundle') }}" autocomplete="off" spellcheck="false" autocorrect="false">
                            {% if app.request.get('search') %}
                                <a href="{{ ea_url().unset('search') }}" class="action-search-reset">
                                    <i class="fas fa-times-circle"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group mt-2">
                        <div class="form-widget">
                            <select class="form-control" onchange="location = this.value;">
                                {% for sort in sorts %}
                                    {% if (sort.order == app.request.get('order')) and (sort.sorting == app.request.get('sorting')) %}
                                        <option selected value="{{ sort.href }}">{{ sort.text }}</option>
                                    {% else %}
                                        <option value="{{ sort.href }}">{{ sort.text }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    {% for paramName, paramValue in query_parameters|ea_flatten_array %}
                        {% if paramName != 'search' %}
                            <input type="hidden" name="{{ paramName }}" value="{{ paramValue }}">
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>

        <div class="datagrid-filters">

        </div>
    </div>

    <div class="content-panel">
        <div class="content-panel-body without-header {{ not has_page_footer ? 'without-footer' }}">
        {% block page_content %}
            <div class="list-group">
                {% for customer in customers %}
                    <div class="list-group-item">
                        <a href="{{ customer.href }}" class="list-group-item-action">
                            <h4>{{ customer.name }}</h4>
                            <p>{{ customer.place }}</p>
                            <div class="d-flex justify-content-between">
                                {% if customer.total is not empty %}
                                    <h4>{{ customer.total~'₸'}}</h4>
                                {% endif %}

                                {% if customer.lastTransaction is not empty %}
                                    <small>{{ customer.lastTransaction|date("d-m-Y") }}</small>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
        </div>

        <div class="content-panel-footer without-padding without-border">
            <div class="list-pagination">
                {{ knp_pagination_render(pagination,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
