{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title customer.name~' '~customer.place %}

{% block content_title %}
    {{ customer.name }} <small>({{ customer.place }})</small>
{% endblock %}

{% block page_actions %}
    <a class="me-2" href="{{ link.return }}">{{ lang.return|trans }}</a>

    <button class="btn btn-primary" type="submit" name="ea[newForm][btn]" form="form_customer_order_edit">
        <span class="btn-label">{{ lang.create|trans }}</span>
    </button>
{% endblock %}

{% block main %}
    {{ include('customer_order/_form.html.twig', {'data': data }) }}
{% endblock %}
